#banner {
  position: relative;
}

#headline {
  color: #fff;
  position: absolute;
  left: 0;
  width: 100%;
  top: 25%;
  text-align: center;
  font-weight: bold;
  font-family: 'Lato';
  font-size: 48px;
}

#subheader {
  color: #fff;
  position: absolute;
  left: 40%;
  top: 45%;
  text-align: center;
  font-family: 'Lato';
  font-size: 36px;
}

#subheader #line1, #subheader #line2 {
  text-align: left;
}

#title {
  color: #fff;
  position: absolute;
  left: 100px;
  top: 15px;
  font-size: 36px;
  font-family: 'Lato';
}

#title #gsb-title {
  font-weight: 900;
}

#meta {
  position: absolute;
  bottom: 12%;
  width: 100%;
  text-align: center;
}

#info {
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
}

#info i {
  color: white;
  font-size: 24px;
}

#info i:hover {
  color: #dad7cb;
}

#content {
  padding: 20px;
}

#dt td {
  font-family: 'Lato';
  font-size: 12px;
}

#dt td a {
  text-decoration: underline;
}

#dt td a:hover {
  color: #8c1515;
}

#dt thead th, #dt tfoot th {
  font-weight: bold;
  color: #8c1515;
}

@media (max-width: 850px) {
  #headline {
    font-size: 16px;
  }

  #title {
    font-size: 18px;
  }

  #meta a.btn {
    padding:2px 4px;
    font-size: 70%;
    line-height: 1.5;
  }
}

@media (max-width: 1150px) {
  #subheader {
    display: none;
  }
}

h5{
  font-size: 1.4em;
}